body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
h2{
    text-align: center;
}
.form-group{
    margin-bottom: 10px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="checbox"] {
    margin-right: 5px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
    
}